<!DOCTYPE html>
<html>
<head>
	<title>Προσθήκη νέου προϊόντος</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/AdminMenu.css">
	<link rel="stylesheet" type="text/css" href="/styles/add_subcategory.css">
	<link href="https://fonts.googleapis.com/css?family=GFS+Didot" rel="stylesheet">
</head>
<body>

	<div id="admin_menu_root"></div>

	<h3 class="page_title"> Προσθήκη νέου Προϊόντος </h3>
	<hr/>

	<script type="text/javascript" src="/components/AdminMenu.min.js"></script>
</body>
</html>