<!DOCTYPE html>
<html>
<head>
	<title>Προσθήκη νέας κατηγορίας</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/AdminMenu.css">
	<link rel="stylesheet" type="text/css" href="/styles/add_subcategory.css">
	<link href="https://fonts.googleapis.com/css?family=GFS+Didot" rel="stylesheet">
</head>
<body>

	<div id="admin_menu_root"></div>

	<h3 class="page_title"> Προσθήκη νέας Κατηγορίας </h3>
	<hr/>
	<div class="container">
		<div id="message_container" class="hidden"></div>
	</div>

	<div id="form_container">

		<form id="add_category_form" method="POST" >

			<div class="container">

				<div class="row">
					<div class="column_half">
						<label class="input_text_label" for="display_name"> Όνομα κατηγορίας στα Ελληνικά: </label>
						<input id="display_name_input" type="text" name="display_name" />
					</div>

					<div class="column_half">
						<label class="input_text_label" for="category_name"> Όνομα κατηγορίας στα Αγγλικά: </label>
						<input id="category_name_input" type="text" name="category_name" />
					</div>
				</div>

				<div class="row">
					<div class="column">
						<label class="input_text_label" for="tags"> Tags: </label>
						<textarea id="category_tags_input" rows="5" name="tags" placeholder="Υφάσματα, μαξιλάρια, πετσέτες.."></textarea>
					</div>
				</div>
			</div>
			
			<input id="submit_button" class="button" type="submit" name="submit_button" value="Αποθήκευση" />
		</form>

	</div>

	<script type="text/javascript" src="/components/AdminMenu.min.js"></script>
	<script type="text/javascript" src="/scripts/add_category.js"></script>
</body>
</html>