<!DOCTYPE html>
<html>
<head>
	<title>Εμφάνιση κατηγοριών</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/AdminMenu.css">
	<link rel="stylesheet" type="text/css" href="/styles/show_categories.css">
	<link href="https://fonts.googleapis.com/css?family=GFS+Didot" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/styles/bootstrap/bootstrap.css">
</head>
<body>

	<div id="admin_menu_root"></div>

	<div id="react_table_root"></div>
	<!-- <table class="data_table">
		<thead class="table_header">

			<tr>
				<th>Name</th>
				<th>Display Name</th>
				<th>Tags</th>
				<th>Last Modified</th>
				<th>Actions</th>
			</tr>

		</thead>
		<tbody id="table_body">			

		</tbody>
	</table> -->
	
	<script type="text/javascript" src="/components/AdminMenu.min.js"></script>
	<!-- <script type="text/javascript" src="/scripts/show_categories.js"></script> -->
	<!-- <script type="text/javascript" src="/components/DataTable.min.js"></script> -->
	<script type="text/javascript" src="/components/CategoriesDataTable.min.js"></script>
</body>
</html>